{% extends 'base.html.twig' %}

{% block body %}
    <div class="row g-0">
        <div class="col-lg-4 align-content-center">
            <div class="p-5 m-4 bg-body-tertiary rounded-3">
                <div class="container">
                    <h1 class="display-5 fw-bold">AI doc</h1>
                    <p class="lead">
                        Chatbot trained on <a href="{{ url }}" class="badge text-bg-primary link-underline-opacity-0">{{ url }}</a>,
                        <br/>
                        ask it anything about this website!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <twig:Chat />
        </div>
    </div>

{% endblock %}
